@mixin flex($justify, $align, $type) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $type;
}

@mixin container {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
}